*{
    box-sizing: border-box;
}

body,html{
    margin: 0 auto;
    padding: 0;
    max-width: 2560px;
    min-width: 320px;
    background-color: #f1efe9;
    font-family: 'Open Sans', sans-serif;
}

body.curtain{
    overflow: hidden;
}

.global-nav{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: white;
    z-index: 99;
}

.gn-menu{
    position: relative;
    height: 100%;
    background: #353535;
    overflow: hidden;
    transition: height .45s ease;
}

.gn-menu::after{
    content: '';
    position: absolute;
    top: 50px;
    height: 1px;
    width: 100%;
    background: rgb(92, 92, 92);
}

.gn-menu.opened{
    height: 100vh;
}

.gn-header{
    position: absolute;
    margin: 0;
    padding: 0;
    padding-left: 21px;
    top: 0;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.gn-logo h1{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 24px;
}

.gn-logo span{
    font-size: 18px;
}

.gn-ham{
    position: relative;
    width: 50px;
    height: 50px;
}

.gn-ham-top{
    position: absolute;
    left: 50%;
    margin-left: -10.5px;
    top: 21px;
    width: 21px;
    height: 1px;
    background: white;
}

.gn-ham-bot{
    position: absolute;
    left: 50%;
    margin-left: -10.5px;
    bottom: 21px;
    width: 21px;
    height: 1px;
    background: white;
}

.gn-list{
    list-style: none;
    margin: 0;
    padding: 50px 40px 8px;
    font-size: 17px;
    transform: translateY(0);
    opacity: 0;
    transition: transform .45s ease, opacity .45s ease;
}

.gn-list.opened{
    transition: transform .35s .1 ease, opacity .35s .1s ease;
    opacity: 1;
    transform: translateY(15px);
}

.gn-item{
    padding: 12px 10px;
    border-bottom: 1px solid rgb(92, 92, 92);
}

.gn-item:last-child{
    border: none;
}

.unit-nav{
    position: relative;
    display: flex;
    padding: 0 10.5px;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.un-logo{
    font-size: 21px;
    font-weight: 800;
    line-height: 1;
}

.un-btn{
    background: #c59d5f;
    padding: 5px 16px;
    border-radius: 25px;
    font-size: 15px;
    color: white;
}





.global-conteiner{
    position: relative;
    width: 100%;
    z-index: 1;
}

.gc-home{
    position: relative;
    padding-top: 53px;
    padding-bottom: 53px;
    width: 100%;
    z-index: 1;
}

.gc-home-content{
    position: relative;
    text-align: center;
}

.gc-home-header{
    margin: 0;
    padding: 0;
    font-size: 48px;
    line-height: 1.05;
    letter-spacing: -0.02em;
    font-weight: 600;
}

.gc-home-paragraph{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 21px;
    letter-spacing: -0.02em;
    font-weight: 600;
}

.gc-home-curtain{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 200px;
    font-weight: bold;
    color: #00000013;
    z-index: -1;
}

.gc-home-img{
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;
}

.gc-home-img img:nth-child(1){
    margin-right: 8px;
    display: inline-block;
    width: 20%;
}

.gc-home-img img:nth-child(2){
    margin-left: 8px;
    display: inline-block;
    width: 28%;
}




.gc-about{
    position: relative;
    width: 100%;
    background: white;
    z-index: 1;
}

.gc-about-content{
    position: relative;
    margin: 0 auto;
    padding: 90px 0 90px;
    width: 90%;
    z-index: 1;
}

.gc-about-span{
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #727272;
}

.gc-about-header{
    margin: 0;
    margin-top: 8px;
    padding: 0;
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
}

.gc-about-paragraph{
    margin: 0;
    margin-top: 35px;
    padding: 0;
    line-height: 1.55em;
    font-weight: 400;
    font-size: 19px;
}




.gc-product{
    position: relative;
    padding: 90px 0;
    background: #f1f1f1;
    width: 100%;
    z-index: 1;
}

.gc-product-content{
    margin: 0 auto;
    width: 90%;
}

.gc-product-span{
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #727272;
}

.gc-product-header{
    margin: 0;
    margin-top: 8px;
    padding: 0;
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
}
.gc-product-slider-conteiner{
    position: relative;
    margin-top: 45px;
    width: 100%;
    z-index: 1;
}

.gc-product-slider{
    margin: 0 auto;
    width: 90%;
    height: 400px;
    background: #e0e0e0;
}

.gc-product-drag-element{
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
    height: 25px;
    background: #686868;
}





.gc-newsletter{
    position: relative;
    padding: 90px 0;
    width: 100%;
}

.gc-newsletter-content{
    margin: 0 auto;
    width: 90%;
}

.gc-newsletter-header{
    margin: 0;
    padding: 0;
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
}

.gc-newsletter-input-conteiner{
    position: relative;
    margin: 0 auto;
    margin-top: 45px;
    width: 90%;
}

.gc-newsletter-input{
    margin: 0;
    padding: 0 110px 0 10px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
}

.gc-newsletter-btn{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    background: #c59d5f;
    color: white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}
