*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body.curtain{
    overflow: hidden;
}

.global-nav{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 99;
}

.gn-sidebar{
    position: absolute;
    padding-top: 60px;
    transform: translateY(-20px);
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: white;
    opacity: 0;
    transition: height .45s ease, opacity .6s ease, transform .45s ease;
    overflow: hidden;
}
 
.gn-sidebar::after{
    content: '';
    position: absolute;
    top: 60px;
    display: block;
    width: 0;
    height: 1px;
    transition: .15s 0s ease;
    background: #e0e0e0;
}

.gn-sidebar-list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
}

.gn-sidebar-item{
    position: relative;
    margin: 0 auto;
    padding: 25px 15px;
    border-bottom: 1px solid #e0e0e0;
    width: 75%;
}

.gn-sidebar.opened{
    transition: height .45s ease, opacity .15s ease, transform .45s ease;
    transform: translateY(0px);
    opacity: 1;
    padding-top: 60px;
    height: 100vh;
}

.gn-sidebar.opened::after{
    transition: .45s .15s ease;
    width: 100%;
}

.gn-menu{
    position: relative;
    display: flex;
    padding: 0 0 0 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.gn-logo h1{
    margin: 0;
    padding: 0;
    font-size: 26px;
    letter-spacing: -0.008em;
}

.gn-ham{
    position: relative;
    width: 60px;
    height: 60px;
}

.gn-ham-top,.gn-ham-bot{
    position: absolute;
    left: 50%;
    margin-left: -10.5px;
    display: block;
    height: 1px;
    width: 21px;
    background: black;
    transition: .3s ease;
}

.gn-ham-top{
    transform: rotate(0) translateY(25px);
}

.gn-ham-bot{
    transform: rotate(0) translateY(34px);
}

.gn-ham-top.active{
    transform: translateY(29.5px) rotate(45deg);
}

.gn-ham-bot.active{
    transform: translateY(29.5px) rotate(-45deg);
}



/*/ - -  - - - - - - -/*/



.global-conteiner{
    position: relative;
    width: 100%;
    z-index: 1;
}

.gc-home{
    position: relative;
    padding-top: 100px;
    background: #EFECEA;
    width: 100%;
    z-index: 1;
}

.gc-home-content{
    position: relative;
    text-align: center;
}

.gc-home-header{
    margin: 0;
    padding: 0;
    letter-spacing: -0.008em;
    line-height: 1;
    font-size: 42px;
}

.gc-home-paragraph{
    font-family: sans-serif;
    margin: 0;
    margin-top: 18px;
    padding: 0;
    font-size: 24px;
    letter-spacing: -0.01em;
}

.gc-home-img{
    margin: 0 auto;
    margin-top: -140px;
    width: 100%;
    max-width: 640px;
}

.gc-home-img img{
    width: 100%;
}

.gc-home-curtain{
    text-align: center;
    top: 50%;
    width: 100%;
    font-weight: bold;letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.034);
    position: absolute;
    font-size: 170px;
    z-index: -1;
}



/*/ - - - - - - - - /*/



.gc-about{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    z-index: -1;
}

.gc-about-content{
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.gc-about-top{
    margin: 0;
    padding: 0;
    font-size: 28px;
    letter-spacing: -0.013em;
    font-weight: bold;
    color: rgb(138, 138, 138);
}

.gc-about-header{
    margin: 0;
    padding: 0;
    font-size: 28px;
    letter-spacing: -0.013em;
}

.gc-about-paragraph{
    margin: 0;
    margin-top: 25px;
    padding: 0;
    line-height: 1.55em;
    color: rgb(121, 121, 121);
}



/*/ - - - - - -- /*/


.gc-products{
    position: relative;
    padding: 40px 0;
    width: 100%;
    z-index: 1;
}

.gc-products::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 90%;
    background: rgb(214, 214, 214);
}

.gc-products-content{
    margin: 0 auto;
    width: 90%;
}

.gc-products-header{
    margin: 0;
    padding: 0;
    font-size: 28px;
    letter-spacing: -0.013em;
}

.gc-products-slider{
    position: relative;
    width: 100%;
    z-index: 1;
}

.gc-products-items{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 90%;
    height: 250px;
    background: #666666;
    border-radius: 3px;
}

.gc-products-drag-element{
    margin: 0 auto;
    width: 90%;
    height: 25px;
    background: #c9c9c9;
    border-radius: 3px;
}



/*/ - - - - - - - /*/



.gc-newsletter{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.gc-newsletter-bg{
    position: absolute;
    filter: grayscale(100);
    z-index: -1;
}

.gc-newsletter-bg img{
    height: 350px;
}

.gc-newsletter-content{
    position: relative;
    padding: 40px 0;
    text-align: center;
    color: white;
}

.gc-newsletter-header{
    margin: 0;
    padding: 0;
    font-size: 34px;
    letter-spacing: -0.013em;
}

.gc-newsletter-inp{
    width: 100%;
    height: 200px;
}

.global-footer{
    position: relative;
    padding: 40px 0;
    width: 100%;
    z-index: 1;
    background: #f0f0f0;
}

.gf-content{
    margin: 0 auto;
    width: 90%;
}

.gf-header{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 29px;
    line-height: 1.2;
    letter-spacing: -0.013em;
}

.gf-header span{
    margin: 0;
    padding: 0;
    display: block;
    color: #666666;
}

.gf-content span{
    display: block;
    margin-top: 8px;
    font-size: 18px;
}
