body{
	margin:0;
	padding:0;
    font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica Neue,Arial,Helvetica,sans-serif;
}
nav{
	position:fixed;
	top:0;
	background:#353535;
	height:50px;
	width:100vw;
	max-width:100%;
	z-index:222;
	box-shadow:0px 0px 20px 0px black;
	color:white;
}
nav img{
	position:absolute;
	transform:translate(-150%,-50%);
	top:50%;
}
nav ul{
	padding:0;
	margin:0;
	line-height:50px;
}
nav ul:nth-child(1){
	float:left;
	margin-left:75px;
}
nav ul:nth-child(2){
	position:absolute;
	right:50px;
}
nav ul:nth-child(2) img{
	transform:translate(-120%,-50%);
}
nav ul li{
	padding:0;
	margin:0;
	display:inline-block;
	margin-left:25px;
	margin-right:25px;
}
nav ul:nth-child(2) li{
		margin-left:35px;
	margin-right:35px;
}
	#hamburger{
	display:none;
	position:absolute;
	width:20px;
	height:12px;
	top:50%;
	transform:translateY(-50%);
	right:5%;
	border-top:2px solid white;
	border-bottom:2px solid white;
	}
		#hamburger::before{
			content:'';
			position:absolute;
			width:100%;
			height:2px;
			background:white;
			top:5px;
		}
header{
	position:relative;
	height:100vh;
	width:100vw;
	background-image:url('header-bg.jpg');
	background-size:cover;
	background-position:center;
	color:white;
	max-width:100%;
	z-index:22;
}
#header-nav{
	position:absolute;
	width:100%;
	height:100px;
	right:0;
	top:100%;
	display:block;
}
#header-nav ul{
	padding:0;
	margin:0;
	float:right;
	line-height:100px;
}
#header-nav ul li{
	display:inline-block;
	margin-right:30px;
	font-size:19px;
}
#header-text{
	position:absolute;
	left:10%;
	top:60%;
	transform:translateY(-50%);
	width:50%;
	opacity:0.2;
	transition:all 1s;
}
#header-text h1{
	margin:0;
	padding:0;
	font-size:85px;
}
#header-text span{
	font-size:22px;
	color:#c59d5f;
}
#header-text p{
	font-size:26px;
}

#header-element{
	padding:12px 24px;
	background:#c59d5f;
	display:inline-block;
	border-radius:25px;
}
#sales-conteiner{
	position:relative;
	height:120vh;
	width:100vw;
	max-width:100%;
	background:white;
}
#sales-conteiner-header{
	position:relative;
	text-align:center;
	top:9%;
	display:flex;
	justify-content:center;
}

#sales-conteiner-header h1{
	padding:0;
	margin:0;
	padding-bottom:8px;
	font-size:25px;
	font-weight:lighter;
	margin-left:25px;	
	margin-right:25px;
	border-bottom:1px solid #e0e0e0;
}
#sales-elements{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	display:flex;
	width:100%;
	justify-content:space-evenly;
	text-align:center;
}
#sales-elements p{
	margin:0;
	padding:0;
	margin-top:15px;
	padding:12px 32px;
	display:inline-block;
	background:#e0e0e0;
	font-size:19px;
}
#sales-elements span{
	position:relative;
	padding:12px 16px;
	right:-32px;
	background:#c59d5f;
	z-index:22;
}
#sales-element1{
	width:32%;
	opacity:0.3;
	transition:all 1s linear;
}
#sales-element-img1{
	position:relative;
	width:350px;
	height:300px;
	background:gray;
	left:50%;
	transform:translateX(-50%);
}
#sales-element2{
	width:32%;
	opacity:0.3;
	transition:all 1s linear;
	transition-delay:0.25s;
}
#sales-element-img2{
	position:relative;
	width:350px;
	height:300px;
	background:gray;
	left:50%;
	transform:translateX(-50%);
}
#sales-element3{
	width:32%;
	opacity:0.3;
	transition:all 1s linear;
	transition-delay:0.5s;
}
#sales-element-img3{
	position:relative;
	width:350px;
	height:300px;
	background:gray;
	left:50%;
	transform:translateX(-50%);
}
.sales-conteiner-dots{
	position:absolute;
	display:flex;
	bottom:18%;
	left:50%;
	transform:translateX(-50%);
}
.sales-dot{
	width:25px;
	height:25px;
	background:#e0e0e0;
	margin-left:10px;	
	margin-right:10px;
	border-radius:50%;
}
#main-info{
	position:relative;
	height:85vh;
	width:100vw;
	max-width:100%;
}
#main-info-header{
	margin:0;
	padding:0;
	position:absolute;
	width:100%;
	text-align:center;
}
#main-info-header span{
	font-weight:bold;
	font-size:28px;
}
#main-info-header p{
	margin:0;
	padding:0;
	font-size:32px;
}
#main-info-header p::after{
	content:'';
	position:absolute;
	display:block;
	background:#c59d5f;
	height:2px;
	width:45px;
	left:50%;
	margin-top:0.5%;
	transform:translateX(-50%);
}
#main-info-header::before{
	content:'';
	position:absolute;
	display:block;
	background:#e0e0e0;
	height:1px;
	width:75%;
	left:50%;
	margin-top:-4.5%;
	transform:translateX(-50%);
}
#main-info-info{
	position:absolute;
	top:25%;
}
#main-info-info img{
	position:relative;
	border:2px solid #c59d5f;
	padding:16px;
	border-radius:50%;
	transform:translateY(-15%);
}
#main-info-info ul{
	margin:0;
	padding:0;
	display:flex;
	text-decoration:none;
	justify-content:space-evenly;
}
#main-info-info ul li{
	margin:0;
	padding:0;
	display:inline-block;
	width:26%;
	font-size:20px;
	text-align:center;
	transform:scale(0.7);
	opacity:0.2;
	transition:transform 0.5s ease,opacity 0.9s linear;
	transition-delay:0.2s;
}
#main-info-info ul li h1{
	margin:0;
	padding:0;
	font-size:23px;
	font-weight:600;
	text-align:center;
}
#main-info-info ul li p{
	margin:0;
	margin-top:7px;
}

#main-info-info-element{
	position:absolute;
	color:#c59d5f;
	bottom:20%;
	left:50%;
	transform:translateX(-50%);
	font-size:22px;
}
main{
	position:relative;
	width:100vw;
	height:85vh;
	max-width:100%;
	background-image:url('barrels.jpg');
	background-size:cover;
	background-position:center;
	z-index:22;
}
#main-span{
	font-size:19px;
	font-weight:bold;
	font-family: Lato;
}

#main-main-text{
	position:relative;
	height:100%;
	width:49%;
	left:50%;
	transform:translateX(-50%);
}

#main-text{
	position:absolute;
	transform:translateY(-50%) skew(-5deg,-10deg);
	opacity:0.3;
	text-align:center;
	top:50%;
	transition:transform 0.6s ease,opacity 0.8s linear;
	transition-delay:0.2s;
}
#main-text h1{
	font-size:46px;
	font-weight:lighter;
	margin:0;
	padding:0;
	margin-top:5px;
	font-family: 'Lato', sans-serif;
}
#main-text p{
	font-size:21px;
	line-height:1.3em;
	margin-bottom:30px;
	margin-top:35px;
}
#main-element{
	color:#c59d5f;
	font-size:19px;
	display:inline-block;
}
section{
	position:relative;
	top:0;
	height:120vh;
	width:100vw;
	max-width:100%;
	background:white;
	margin-bottom:80px;
}
#sales-header{
	position:relative;
	top:8%;
	text-align:center;
}
#conteiner-sales h1{
	margin:0;
	padding:0;
	position:relative;
	font-weight:lighter;
}
#slider{
	position:relative;
	margin:auto;
	top:42%;
	transform:translateY(-50%);
	width:85%;
	height:50%;
	background:#e0e0e0;
}
#drag{
	position:absolute;
	width:85%;
	left:50%;
	transform:translateX(-50%);
	height:30px;
	background:#e0e0e0;
	bottom:8%;
}
#draggable{
	width:20%;
	height:100%;
	background:#c59d5f;
	text-align:center;
	color:#e0e0e0;
}

form{
	height:80vh;
	width:100vw;
	max-width:100%;
	background:black;
	color:white;
}
#form-header{
	margin:0;
	padding:0;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}
#form-header h1{
	margin:0;
	padding:0;
}
#form-input{
	margin:auto;
	width:35%;
	height:100%;
}
input:nth-child(3){
	padding:10px;
	width:100%;
	border-radius:8px;
	font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica Neue,Arial,Helvetica,sans-serif;
}
textarea:nth-child(5){
	padding:10px 10px 10px 10px;
	width:100%;
	height:200px;
	border-radius:8px;
	font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica Neue,Arial,Helvetica,sans-serif;
}
#form-input-element{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	margin-top:25px;
	padding:8px 36px;
	border-radius:25px;
	background:#c59d5f;
	font-size:20px;
}
iframe{
	position:relative;
	margin-top:200px;
	left:50%;
	transform:translateX(-50%);
}
footer{
	position:relative;
	bottom:0;
	width:100vw;
	max-width:100%;
	height:60vh;
	background:#e0e0e0;
	margin-top:200px;
}
#footer-header{
	text-align:center;
}
#footer-header h1{
	margin:0;
	padding:0;
	padding-top:15px;
}
#footer-bottom{
	position:absolute;
	bottom:0;
	width:100%;
	height:55px;
	background:#68686836;
}
#footer-bottom p{
	text-align:center;
}
#footer-text{
	position:absolute;
	line-height:1.4em;
	left:40%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:18px;
}
#footer-text span{
	line-height:1.8em;
}

@media(max-width:640px){
	#hamburger{
		display:block;
	}

	nav ul:nth-child(1){
		font-size:8px;
		margin-left:5px;
	}
		nav ul:nth-child(2){
		font-size:8px;
		margin-right:5px;
		display:none;
	}
	nav img{
		transform:translate(-120%,-50%);
	}
	nav ul li img:nth-child(1){
		height:12px;
	}
	nav ul li{
		margin-left:15px;
		margin-right:15px;
	}
	header{
		height:88vh;
	}
	#header-nav{
		z-index:221;
		height:100vh;
		display:none;
	}
	#header-nav ul{
		background:#000000de;
		width:100%;
		height:100%;
	}
	#header-nav ul li{
		padding:0;
		margin:0;
		display:block;
		text-align:center;
	}
			#header-nav ul li:nth-child(1){
				margin-top:125px;
			}
		#header-nav ul li::after{
			content:'';
			border:0.5px solid white;
			display:block;
		}
	#header-text{
		top:55%;
		left:50%;
		width:80%;
		transform:translate(-50%,-50%);
	}

	#header-text h1{
		font-size:42px;
	}
	#header-text span{
		font-size:14px;
	}
		#header-text p{
		font-size:16px;
	}
	#header-element{
		padding:6px 12px;
		font-size:12px;
	}
	#sales-conteiner{
		height:95vh;
	}
		#sales-element1 p{
			position:absolute;
		font-size:13px;
		width:60%;
		left:50%;
		transform:translateX(-50%);
	}
	#sales-element2{
		display:none;
	}
		#sales-element3{
		display:none;
	}
	.sales-conteiner-dots{
		bottom:8%;
	}
	#main-info{
		height:70vh;
	}
			#main-info ul li:nth-child(1){
				font-size:18px;
		width:85%;
	}
	#main-info ul li:nth-child(2){
		display:none;
	}
		#main-info ul li:nth-child(3){
		display:none;
	}
	#main-info-header{
		top:6.5%;
	}
	#main-info-header p{
		font-size:25px;
	}
		#main-info-header::before{
	margin-top:-11.5%;
}
#main-info-info-element{
	bottom:14%;
		font-size:16px;
}
main{
	height:75vh;
}
#main-main-text{
	width:90%;
}
#main-span{
	font-size:16px;
}
#main-text h1{
	font-size:23px;
	font-weight:bold;
}
#main-text p{
	font-size:18px;
}
	section{
		height:80vh;
	}

		#form-input{
			position:absolute;
			left:50%;
			transform:translate(-54%,5%);
			width:75%;
			padding:0;
		}
		#form-header h1{
			font-size:20px;
		}
		form span{
			font-size:12px;
		}
		iframe{
			position:relative;
			margin-top:100px;
			height:65vh;
		}
		footer{
			margin-top:100px;
		}
		#footer-header h1{
			font-size:20px;
		}
		#footer-text{
			font-size:14px;
			left:45%;
		}
		#footer-bottom{
			font-size:12px;
		}

}
.active{
	display:block!important;
}

.black1{
	background:#e0e0e0;
}
.black2{
	background:#c59d5f;
}






