html{
	width:100%;
	height:100%;
}
body{
	position:relative;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
    font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica Neue,Arial,Helvetica,sans-serif;
}
nav{
	position:absolute;
	top:0;
	height:100px;
	width:100vw;
	max-width:100%;
	z-index:22222;
	color:white;
	background:transparent;
}
nav ul{
	position:absolute;
	margin:0;
	padding:0;
	left:50%;
	transform:translateX(-50%);
	transition:1s;
}
nav ul li{
	font-size:16px;
	display:inline-block;
	margin-left:12px;
	margin-right:12px;
	line-height:100px;
	letter-spacing:1px;
}
nav ul li a{
	text-decoration:none;
	color:white;
}

#nav-logo{
	font-size:25px;
	position:absolute;
	line-height:100px;
	left:5%;
}
#nav-elements{
	position:absolute;
	right:7%;
	top:51%;
	transform:translateY(-50%);
}

.nav-element{
	display:inline-block;
}

#nav-search-elements{
	top:50px;
	opacity:0;
	visibility:hidden;
	position:absolute;
	transition:0.5s ease;
	width:100vw;
	max-width:100%;
	height:100vh;
	background:white;
	overflow-y:scroll;
	overflow-x:hidden;
}
#nav-search-logo{
	position:absolute;
	left:7%;
	top:26px;
	color:black;
}
#nav-input{
	position:absolute;
	top:26px;
	height:30px;
	left:50%;
	transform:translateX(-50%);
	width:30%;
	font-size:18px;
	border:0px;
	background:transparent;
	color:black;
	padding:10px;
	border-bottom:2px solid #e0e0e0;
}
#nav-search-ofert{
	position:absolute;
	top:25%;
	width:100%;
	min-height:75%;
}
.search-element{
	width:313px;
	height:270px;
	background:#e0e0e0;
	display:inline-block;
	margin:24px 8px;
}
#nav-cross{
	position:absolute;
	right:7%;
	top:26px;
	width:25px;
	height:15px;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
	#hamburger{
	display:none;
	position:absolute;
	}
		
header{
	position:relative;
	height:100vh;
	width:100vw;
	min-height:100vh;
	max-height:100vh;
	background-image:url('img/header-bg.jpg');
	background-size:cover;
	background-position:center;
	color:white;
	max-width:100%;
	z-index:22;
	display:block;
	overflow:hidden;
	box-sizing:border-box;
	background-origin:padding-box;
	background-clip:border-box;
	background-attachment:scroll;
}
header img{
    display:block;
    height:auto;
    width:100%;
}

#header-text{
	position:absolute;
	left:50%;
	top:60%;
	transform:translate(-50%,-50%);
	width:55%;
	opacity:0.2;
	transition:all 1s;
	text-align:center;
}
#header-text h1{
	margin:0;
	padding:0;
	font-size:55px;
	font-weight:lighter;
	margin-bottom:15px;
}
#header-text span{
	font-size:27px;
	color:#c59d5f;
}

#header-text p:nth-child(1){
	margin:0;
	font-size:22px;
	margin-bottom:5px;
}
#header-text p:nth-child(1)::before{
	content:'';
	position:absolute;
	right:57.5%;
	display:block;
	height:1px;
	background:white;
	margin-top:12px;
	width:35px;
}

#header-text p:nth-child(1)::after{
	content:'';
	position:absolute;
	left:57.5%;
	margin-top:-12px;
	display:block;
	height:1px;
	background:white;
	width:35px;
}

#header-text p:nth-child(4){
	width:90%;
	line-height:1.5em;
	font-size:23px;
	margin:0 auto;
	margin-top:19px;
	margin-bottom:27px;
}

.header-element{
	padding:9px 16px;
	border:2px solid #c59d5f;
	display:inline-block;
	border-radius:5px;
	font-size:15px;
	margin-right:20px;
}
.header-element:nth-child(5){
	border:2px solid white;
}

#header-arrow{
	position:absolute;
	left:50%;
	transform:translateX(-50%) rotate(90deg);
	bottom:3%;
}
#header-arrow img{
	height:64px;
	width:44px;
}
#sales-conteiner{
	position:relative;
	height:120vh;
	min-height:120vh;
	max-height:120vh;
	width:100vw;
	max-width:100%;
	background:white;
}
#sales-conteiner img:nth-child(4){
	position:absolute;
	top:48%;
	transform:translateY(-50%);
	right:1.5%;
}
#sales-conteiner img:nth-child(5){
	position:absolute;
	top:48%;
	transform:translateY(-50%) rotate(180deg);
	left:1.5%;
}
#sales-conteiner-header{
	position:relative;
	text-align:center;
	top:9%;
	display:flex;
	justify-content:center;
}
#sales-elements{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:100vw;
	height:400px;
	max-width:100%;
	display:flex;
	justify-content:space-evenly;
}
#sales-elements p:nth-child(2){
	font-size:18px;
	margin:0;
	margin-top:10px;
	text-align:center;
}
#sales-elements p:nth-child(4){
	font-size:16px;
	margin:0;
	text-align:center;
}
#sales-elements p:nth-child(2)::after{
	content:'';
	position:relative;
	display:block;
	border:1px solid #c59d5f;
	width:12%;
	left:50%;
	transform:translateX(-50%);
	margin-top:7px;
}
#sales-element1{
	height:100%;
	width:24%;
}
#sales-element2{
	height:100%;
	width:24%;
}
#sales-element3{
	height:100%;
	width:24%;
}
#sales-element-img1{
	height:75%;
	width:100%;
	background:#e0e0e0;
}
#sales-element-img2{
	height:75%;
	width:100%;
	background:#e0e0e0;
}
#sales-element-img3{
	height:75%;
	width:100%;
	background:#e0e0e0;
}
#sales-element-img4{
	height:75%;
	width:100%;
	background:#e0e0e0;
}
#sales-conteiner-header h1{
	padding:0;
	margin:0;
	padding-bottom:8px;
	font-size:25px;
	font-weight:lighter;
	margin-left:25px;	
	margin-right:25px;
	border-bottom:1px solid #e0e0e0;
}

.sales-conteiner-dots{
	position:absolute;
	display:flex;
	bottom:18%;
	left:50%;
	transform:translateX(-50%);
}
.sales-dot{
	width:28px;
	height:3px;
	border-radius:5px;
	background:#e0e0e0;
	margin-left:10px;	
	margin-right:10px;
}
#main-info{
	position:relative;
	height:110vh;
	width:100vw;
	max-width:100%;
}
#main-info-header{
	margin:0;
	padding:0;
	position:absolute;
	width:100%;
	text-align:center;
	top:8%;
}
#main-info-header p:nth-child(2){
	padding:0;
	width:60%;
	margin:0 auto;
	font-size:20px;
	margin-top:35px;
	line-height:1.3em;
}
#main-info-header p:nth-child(1){
	margin:0;
	padding:0;
	font-size:32px;
}
#main-info-header p:nth-child(1)::after{
	content:'';
	position:absolute;
	display:block;
	background:#c59d5f;
	height:2px;
	width:45px;
	left:50%;
	margin-top:1.2%;
	transform:translateX(-50%);
}
#main-info-header::before{
	content:'';
	position:absolute;
	display:block;
	background:#e0e0e0;
	height:1px;
	width:75%;
	left:50%;
	margin-top:-7.5%;
	transform:translateX(-50%);
}
.main-info-info{
	position:absolute;
	top:45%;
	transform:translateY(-50%);
	width:100%;
	display:flex;
	justify-content:center;
}
.main-info-info:nth-child(2){
	position:absolute;
	top:72%;
	transform:translateY(-50%);
	width:100%;
	display:flex;
	justify-content:center;
}
.main-info-element{
	width:24%;
	margin-left:80px;
}
.main-info-element img{
	position:absolute;
	transform:translate(-135%,20%);
}
.main-info-element h1{
	font-size:24px;
	font-weight:lighter;
}
.main-info-element p{
	color:#5d5d5d;
}
#main-info-info-element{
	position:absolute;
	color:#c59d5f;
	bottom:8%;
	left:50%;
	transform:translateX(-50%);
	font-size:20px;
}
main{
	position:relative;
	width:100vw;
	height:85vh;
	max-width:100%;
	background-image:url('img/barrels.jpg');
	background-size:cover;
	background-position:center;
	z-index:22;
}
#main-span{
	font-size:19px;
	font-weight:bold;
	font-family: Lato;
}

#main-main-text{
	position:relative;
	height:100%;
	width:49%;
	left:50%;
	transform:translateX(-50%);
}

#main-text{
	position:absolute;
	transform:translateY(-50%) skew(-5deg,-10deg);
	opacity:0.3;
	text-align:center;
	top:50%;
	transition:transform 0.6s ease,opacity 0.8s linear;
	transition-delay:0.2s;
}
#main-text h1{
	font-size:48px;
	font-weight:lighter;
	margin:0;
	padding:0;
	margin-top:5px;
	font-family: 'Lato', sans-serif;
}
#main-text p{
	font-size:23px;
	line-height:1.3em;
	margin-bottom:30px;
	margin-top:35px;
}
#main-element{
	color:#c59d5f;
	font-size:19px;
	display:inline-block;
}
section{
	position:relative;
	top:0;
	height:110vh;
	width:100vw;
	max-width:100%;
	background:white;
	margin-bottom:80px;
}
#sales-header{
	position:relative;
	top:7.5%;
	text-align:center;
}
#sales-header span{
	display:block;
	bottom:0;
	margin-top:24px;
	font-size:20px;
	line-height:1.3em;
}
#sales-header h1::before{
	content:'';
	position:absolute;
	width:7%;
	background:#c59d5f;
	height:2px;
	bottom:0;
	left:50%;
	margin-bottom:62px;
	transform:translateX(-50%)
}
#sales-header h1{
	position:absolute;
	margin:0;
	padding:0;
	margin-bottom:8px;
	font-weight:lighter;
	font-size:34px;
	left:50%;
	transform:translateX(-50%);
}
#slider{
	position:relative;
	margin:auto;
	top:56%;
	transform:translateY(-50%);
	width:80%;
	height:350px;
	background:#e0e0e0;
}
#drag{
	position:absolute;
	width:80%;
	left:50%;
	transform:translateX(-50%);
	height:30px;
	background:#e0e0e0;
	bottom:7%;
}
#draggable{
	width:20%;
	height:100%;
	background:#c59d5f;
	text-align:center;
	color:#e0e0e0;
}

form{
	height:80vh;
	width:100vw;
	max-width:100%;
	background:black;
	color:white;
}
#form-header{
	margin:0;
	padding:0;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}
#form-header h1{
	margin:0;
	padding:0;
}
#form-input{
	margin:auto;
	width:35%;
	height:100%;
}
input:nth-child(2){
	margin-top:35px;
	padding:10px;
	width:100%;
	font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica Neue,Arial,Helvetica,sans-serif;
	background:transparent;
	border:1px solid white;
	border-radius:3px;
	color:white;
}
textarea:nth-child(3){
	margin-top:35px;
	padding:10px 10px 10px 10px;
	width:100%;
	max-width:100%;
	min-width:100%;
	height:200px;
	max-height:250px;
	font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica Neue,Arial,Helvetica,sans-serif;
	background:transparent;
	border:1px solid white;
	color:white;
	border-radius:3px;
}
#form-input-element{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	margin-top:25px;
	padding:8px 36px;
	border-radius:5px;
	background:#c59d5f;
	font-size:20px;
}
iframe{
	position:relative;
	margin-top:200px;
	left:50%;
	transform:translateX(-50%);
}
footer{
	position:relative;
	bottom:0;
	width:100vw;
	max-width:100%;
	height:60vh;
	background:#e0e0e0;
	margin-top:200px;
}
#footer-header{
	text-align:center;
}
#footer-header h1{
	margin:0;
	padding:0;
	padding-top:15px;
}
#footer-bottom{
	position:absolute;
	bottom:0;
	width:100%;
	height:55px;
	background:#68686836;
}
#footer-bottom p{
	text-align:center;
}
#footer-text{
	position:absolute;
	line-height:1.4em;
	left:40%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:18px;
}
#footer-text span{
	line-height:1.8em;
}

@media(max-width:640px){
	nav{
		height:80px;
	}
	nav ul{
		left:0;
		transform:translate(0,0);
		top:100%;
		display:none;
		background:white;
		width:100%;
		border-top:1px solid #e0e0e0;
	}
	nav ul li{
		margin:0;
		text-align:center;
		display:block;
		line-height:80px;
	}
		nav ul li::after{
			content:'';
			position:relative;
			transform:translateX(-50%);
			display:block;
			left:50%;
			width:80%;
			height:1px;
			background:#e0e0e0;
		}
	nav ul li a{
			color:black;
	}
	#nav-elements{
		display:none;
	}
	#nav-logo{
		font-size:18px;
		line-height:80px;
	}
		#hamburger{
	display:block;
	width:30px;
	height:20px;
	right:10%;
	top:50%;
	transform:translateY(-50%);
	}
	#hamburger-top{
		position:absolute;
		top:0;
		height:1px;
		width:100%;
		background:white;
	}
	#hamburger-middle{
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		height:1px;
		width:100%;
		background:white;
	}
		#hamburger-bottom{
		position:absolute;
		bottom:0;
		height:1px;
		width:100%;
		background:white;
	}
	header{
		min-height:100vh;
		max-height:100vh;
		background-position:right;
	}
	#header-text{
		top:52%;
		left:50%;
		width:92%;
		transform:translate(-50%,-50%);
		text-align:center;
	}

	#header-text h1{
		font-size:30px;
		font-weight:600;
		margin-bottom:15px;
		letter-spacing:0px;
	}
	#header-text span{
		font-size:15px;
	}
			#header-text p:nth-child(1){
		font-size:16px;
	}
	
	#header-text p:nth-child(1)::before{
	right:61.5%;
	margin-top:9.5px;
	width:28px;
}

#header-text p:nth-child(1)::after{
	left:61.5%;
	margin-top:-9.5px;
	width:28px;
}

		#header-text p:nth-child(4){
		margin-bottom:20px;
		width:100%;
		font-size:14px;
		line-height:1.7em;
		margin-top:15px;
	}
.header-element{
	padding:7px 15px;
	border:2px solid #c59d5f;
	font-size:13px;
	margin-left:0;
}
.header-element:nth-child(5){
	border:2px solid white;
}
	#sales-conteiner{
		min-height:105vh;
		max-height:105vh;
	}
	#sales-conteiner-header h1{
		font-size:18px;
	}
	
	#sales-conteiner img:nth-child(4){
	height:30px;
	position:absolute;
	top:40%;
	transform:translateY(-50%);
	right:1%;
}
#sales-conteiner img:nth-child(5){
	height:30px;
	position:absolute;
	top:40%;
	left:1%;
}

			#sales-element1{
				width:83%;
				height:345px;
	}
#sales-elements p:nth-child(2){
	font-size:16px;
	margin:0;
	margin-top:20px;
	text-align:center;
}
	#sales-element2{
		display:none;
	}
		#sales-element3{
		display:none;
	}
	.sales-conteiner-dots{
		bottom:20%;
	}
	.sales-dot{
		width:22px;
		height:1.5px;
	}
	#main-info{
		height:90vh;
	}
	#main-info-header p:nth-child(1){
		font-size:22px;
	}
		#main-info-header p:nth-child(2){
			margin-top:12px;
			width:90%;
		font-size:14px;
	}
	
	#main-info-header{
		top:0;
	}
	
	#main-info-header::before{
	margin-top:-16.5%;
}
	
	.main-info-element h1{
		font-size:20px;
	}
		.main-info-element p{
		font-size:13px;
	}
		.main-info-element{
		display:none;
	}
	.main-info-info{
		top:40%;
	}
	.main-info-info:nth-child(2){
		top:65%;
	}
			.main-info-element:nth-child(1){
		display:block;
		width:75%;
	}
#main-info-info-element{
	bottom:12%;
	font-size:16px;
}
main{
	height:65vh;
}
#main-main-text{
	width:87%;
	text-align:justify;
}
#main-span{
	font-size:14px;
}
#main-text h1{
	font-size:21px;
	font-weight:bold;

}
#main-text p{
	font-size:16px;
	margin-top:20px;
	line-height:1.35em;
	margin-bottom:20px;
}
#main-element{
	font-size:17px;
}
	section{
		height:80vh;
	}
		#sales-header{
			top:12%;
		}
	#sales-header h1{
		font-size:24px;
	}
		#sales-header span{
			position:absolute;
		font-size:14px;
		width:360%;
		margin-top:40px;
		top:0;
		left:50%;
		transform:translateX(-50%);
	}
	#sales-header h1::before{
	content:'';
	position:absolute;
	width:30%;
	background:#c59d5f;
	height:2px;
	bottom:0;
	left:50%;
	margin-bottom:-8px;
	transform:translateX(-50%)
}
#slider{
	height:40%;
	top:60%;
	width:85%;
}
#drag{
	bottom:3%;
	width:85%;
	height:28px;
}
		#form-input{
			position:absolute;
			left:50%;
			transform:translate(-53%,5%);
			width:75%;
			padding:0;
		}
		#form-header h1{
			font-size:20px;
		}
		form span{
			font-size:12px;
		}
		textarea:nth-child(3){
	height:150px;
	max-height:200px;

}
		iframe{
			position:relative;
			margin-top:100px;
			height:55vh;
		}
		footer{
			margin-top:100px;
		}
		#footer-header h1{
			font-size:20px;
			padding-top:30px;
		}
		#footer-text{
			font-size:14px;
			left:50%;
			text-align:center;
		}
		#footer-bottom{
			font-size:12px;
		}

}
.active{
	display:block!important;
}
.active2{
	background:white;
	color:black;
}
.active3{
	background:black!important;
}
.active4{
	transform:rotate(45deg);
	top:50%!important;
}
.active5{
	top:50%!important;
	transform:rotate(-45deg);
}
.active6{
	display:none;
}
.black1{
	background:#e0e0e0;
}

.black2{
	background:black;
}





